@mixin font ($fw,$fs,$lh,$ls,$col) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $col; 
  }
  @mixin centerFlex ($type: flex) {
    display: $type;
    justify-content: center;
    align-items: center;
    }
    